.ecology-crimea__container h2 {
  @include font(32px, 42px, 400, $first-color);
  font-family: "Rubik Dirt", "Arial", sans-serif;
}

.ecology-crimea__item {
  min-height: 260px;
  border-radius: 20px;
  overflow: hidden;
}

.ecology-crimea__image-wrapper {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.ecology-crimea__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 260px;
}

.ecology-crimea__wrapper-swiper {
  position: relative;
}

.ecology-crimea__button {
  position: absolute;
  top: 50%;
  border: none;
  background: transparent;
  color: #c3c3c3;

  &--ethno-prev {
    left: -40px;
  }

  &--ethno-next {
    right: -40px;
  }
}
