.header {
  width: 100%;
}

.header__overlay-open {
  @include vp-767 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: #2e323d;
    height: 100vh;
    width: 100%;
    transition: 0.3s ease-out;
  }
}

.header__menu-wrapper {
  @include vp-767 {
    width: 0;
  }
}

.header__overlay-open .header__menu-wrapper {
  @include vp-767 {
    width: 100%;
    height: 100%;
  }
}

.header__container {
  @include vp-767 {
    width: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0.2s;
  }
}

.header__overlay-open .header__container {
  @include vp-767 {
    flex-direction: column-reverse;
    justify-content: center;
    background-color: $second-color;
    visibility: visible;
    opacity: 1;
    width: 85%;
    min-height: 100%;
    margin: 0;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  }
}

.header__user-wrapper {
  border-bottom: 1px solid #d9d9d9;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include vp-767 {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}

.header__user-inner {
  padding-left: 12px;
  padding-right: 12px;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 35px;
  justify-content: end;
}

.header__user-list {
  display: flex;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search p {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  @include vp-767 {
    display: none;
  }
}

.header__overlay-open .header__nav-wrapper {
  display: block;
}

.header__search-icon {
  margin-right: 5px;
}

// .header__container h1 {
//   margin: 0;
//   margin-bottom: 45px;
//   font-size: 53px;
//   line-height: 72px;
//   text-align: center;
//   text-transform: uppercase;
//   text-shadow: 3px 1px 0 #dadada;
// }
