.nav {
  width: 100%;
}

.nav__list {
  display: flex;

  @include vp-1023 {
    overflow-y: auto;
  }
}

.nav__list::-webkit-scrollbar {
  display: none;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 45px;
  }
}

.nav__link {
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}
