.promo-slider__container {
  padding-top: 30px;
}

.promo-slider__swiper {
  position: relative;
}

.promo-slider__swiper-slides {
  height: 540px;

  @include vp-1023 {
    height: 341px;
  }
}

.promo-slider__slides-item {
  position: relative;
  height: 585px;
  width: 100%;
  overflow: hidden;
}

.promo-slider__slides-image {
  object-fit: cover;
  // height: 34.2vw;
  width: 100%;
}

.promo-slider__button {
  border: none;
  margin: 0;
  top: 0;
  border-radius: 50px;
  background-color: transparent;
  width: 50px;
  height: 100%;
  padding: 0;
  z-index: 3;
  cursor: pointer;

  &::before,
  &::after {
    display: none;
  }

  &--prev {
    left: 25px;
    transform: rotate(180deg);
  }

  &--next {
    right: 25px;
    transform: rotate(360deg);
  }
}
